
/*  GLOBAL PAGE SETTING  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*  /GLOBAL PAGE SETTING  */

/*  CONTAINERS  */
header {
    background-color: lightskyblue;
    padding: 10px 0px;
}

footer {
    background-color: black;
    border-top: 1px solid grey;
}

.container-header {
    max-width: 1300px;
    margin: 20px auto;
}

.container {
    max-width: 1300px;
    margin: 0px auto;
}

.padding {
    padding-bottom: 20px;
    padding-top: 20px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*  /CONTAINERS  */

/*  UTILITY COLORS  */
.orange {
    background-color: orange;
    border: 1px dashed black;
}

.blue {
    background-color: rgb(0, 0, 182);
}

.lightgrey {
    background-color: rgb(179, 179, 219);
}

.green {
    background-color: green;
}

.lightblue {
    background-color: rgb(22, 123, 238);
}

.coral {
    background-color: coral;
}

.black {
    background-color: black;
}

.gold {
    background-color: gold;
    border: 1px dashed black;
}

.turquoise {
    background-color: turquoise;
    border: 1px dashed white;
}

.lime {
    background-color: lime;
}
/*  /UTILITY COLORS  */

/*  UTILITY COLUMNS CLASSES  */

.height {
    height: 250px;
}

.col-18 {
    width: calc(100% / 6);
}

.col-25 {
    width: 25%;
    padding: 5px;
}

.col-30 {
    width: calc(100% / 6 * 2);
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
    padding: 5px;
}

.col-55 {
    width: 55%;
    background-color: rgb(224, 131, 146);
    padding: 20px;
}

.col-60 {
    width: 60%;
}

.col-100-tiny {
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
}

.col-100 {
    width: 100%;
}

.col-100-big {
    width: 100%;
    height: 500px;
}
/*  /UTILITY COLUMNS CLASSES  */

.small-dx {
    text-align: end;
}

.d-flex {
    display: flex;
    justify-content: center;
}

.d-flex-footer {
    display: flex;
    justify-content: space-between;
}

.link {
    width: 6%;
}

.footer-button {
    width: 60px;
    text-align: center;
    padding: 3px;
}