* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: lightskyblue;
    margin-bottom: 30px;
    padding: 10px 0px;
}

.container {
    display: flex;
    max-width: 1300px;
    justify-content: center;
    align-items: center;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orange {
    background-color: orange;
    border: 1px dashed black;
}

.col-25 {
    width: 25%;
    padding: 5px;
}

.col-50 {
    width: 50%;
    padding: 5px;
}